<!-- <h1>Chemicals#index</h1>
<p>Find me in app/views/chemicals/index.html.erb</p> -->



<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<p id="para1">Color Me Straight</p>
<p id="education-center">an online Education Center</p>


<!-- this is the wrapper fo the whole page -->
<div class="chemicalWrapper">
  <!--home view portion  -->
  <div class="chemicalview">

    <!-- this is the dev that contain the horizonal scroll -->
    <div class="surroundContainer">
      <div class="hPage">

<!-- Videos Grid -->

  <div class="chemVideo">
    <table>
      <tr>
        <td><iframe width="300" height="280" src="https://www.youtube.com/embed/rtTZxcqGIiY" frameborder="0" allowfullscreen></iframe></td>
      </tr>

    </table>
  </div>

  <div class="chemVideo">
    <table>
      <tr>
        <td><iframe width="300" height="280" src="https://www.youtube.com/embed/823vNjvvj6I" frameborder="0" allowfullscreen></iframe></td>
      </tr>
    </table>
  </div>

  <div class="chemVideo">
    <table>
      <tr>
        <td><<iframe width="300" height="280" src="https://www.youtube.com/embed/cYCqe3HanmI" frameborder="0" allowfullscreen></iframe></td>
      </tr>

    </table>
  </div>
  <!-- <div class="chemVideo">
    <table>
      <tr>
        <td><iframe width="300" height="280" src="https://www.youtube.com/embed/4DS9ThRvxoE" frameborder="0" allowfullscreen></iframe></td>
      </tr>
    </table>
  </div> -->

  <!--images  -->
   <div class="ChemPic1">
     <!-- <img src="" alt="chemPic1" style=""> -->
   </div>

  <span class="chem-header">  Thermal Reconditioning
    </span>
  <span class="chem-header11">(also Thioglycolic acid / thiol)
  </span>

  <span class="chem-header1">Japanese hair straightening - permanently straightening hair- This solution reacts chemically softening the inner structure of the hair by breaking some of the cross links within and between the protein chains of the hair. It promises to turn wavy, coarse, or curly hair into pin-straight locks by treating the hair with chemicals that give it its shape.<br><br>

  This process uses a special flat iron that heats to precise temperatures to complement the work of the chemical solution. <br><br> * Not compatible with Relaxer - Sodium hydroxide - will cause severe breakage *
</span>

  <!-- <span class="chem-header2"> a licensed professional has to a take training course to learn how to proper perform. This is a highly technical procedure, not only that but a license is needed legally to buy the products.﻿
</span> -->

  <div class="hPage1-container">
          If you want something that lasts until your hair grows out...
          Thermal Reconditioning is best for bulky, loose to medium—but not kinky—curls. The hair is saturated with a solution containing a chemical that breaks the bonds that give each strand its shape; it is then rinsed, blow-dried, and meticulously flatironed. Once a neutralizer is applied, the hair is locked into this new, straight configuration.
          <br><br>
          The process can take up to eight hours the first time (depending on length and thickness); touch-ups require three to four hours. For three days after the treatment, you can't get your hair wet or do anything kink inducing (like wear a ponytail), and while your hair will now be sleek and shiny (even after air-drying), you're left with one styling option: bone-straight. Even curling irons or hot rollers won't restore volume or wave. Cost: $500 to $1,500.
        </div>

     <div class="hPage2-container">
         <span class="chem-header22">
           Relaxer - Sodium hydroxide </span>
            <span class="chem-header222">(also known as lye and caustic soda)</span>
           Can soften coarse, tight curls; Strong chemical compounds Sodium hydroxide is a highly caustic base and alkali, that decomposes proteins at ordinary ambient temperatures and may cause severe chemical burns. It is highly soluble in water and readily absorbs moisture and carbon dioxide from the air. that break various bonds in the hair. The solution is left on for up to 20 minutes, rinsed, then neutralized. Cost: $50 to $250. <br><br>
           * Not compatible with Thermal Reconditioning - Thioglycolic acid/thiol - will cause severe breakage *
         </div>
          <div class="hPage3-container">
            Keep in mind that...since both of these treatments permanently change the structure of the hair, you have to continue them or endure a grow-out period. They contain damaging chemicals, so don't consider either one if your hair is already overprocessed. Tell the stylist everything you've done to your hair in the past two years—bleach and some hennas don't react well with the chemical in thermal reconditioning solutions, and colored hair may be too fragile to handle a relaxer, which is particularly harsh.
            </div>

            <div class="hPage4-container">
            If you want something that will smooth your hair until your next shampoo...
            ...a deep conditioner controls frizz by restoring moisture to the hair. Work the product from roots to ends, and slip on a plastic shower cap for 10 minutes (it traps heat from your scalp and helps conditioners penetrate the hair's cuticle), then rinse. No marathon salon visits or grow-out period necessary. Cost: $5 to $50 (for a tub of conditioner).
            </div>

            <div class="hPage5-container">
              <span class="chem-header55">Brazilian Keratin Treatment <br>or Brazilian Blowout</span>
              <span class="chem-header555">(also know as Formaldehyde)</span> A semi-permanent hair straightening method done by temporarily sealing a liquid keratin and a preservative solution into the hair with a hair iron. Some versions of these treatments with an excessive amount of formaldehyde have been banned in several countries including Canada[1] and the European Union.[2] It is performed in the United States,[3] though there are regulations and have been controversies regarding the treatment.
            </div>

            <div class="hPage6-container">
              If you want something that wears off over two to four months...
              Some treatments, like Brazilian straightening (brand names include Brazilian Keratin Treatment and Brazilian Blowout) and Keratin Complex Hair Therapy, smooth the surface of the hair but don't permanently break bonds, so your natural texture gradually returns.
              <br><br>
               The Brazilian treatments, however, have been shown to contain varying amounts of formaldehyde (a carcinogen that poses health risks when inhaled), in addition to keratin protein.
               <br><br>
                The makers of Keratin Complex Hair Therapy say their product uses a "captured form of formaldehyde," and that any formaldehyde gas released during the treatment is below the exposure limit set by the Occupational Safety & Health Administration.
                <br><br>
                (Stylists attest that it does not have the noxious odor of the Brazilian treatments, but independent testing has not demonstrated how much formaldehyde is released during use.) After the product is applied, the hair is blow-dried, then flatironed; the solution stays in the hair until you shampoo three to four days later.
                <br><br>
                These treatments can be done on color-treated hair and are effective on everything from waves to tight curls; they control frizz but maintain some texture and volume. Though you'll still need to blow-dry hair straight, the process will require less effort. Cost: $300 to $600.
            <br><br>

            Keep in mind that...a treatment containing formaldehyde could compromise your health.
            </div>
      <div class="hPage7-container">
  </div>
 </div>
</div>


        <!-- Caring for Reconditioned Hair  -->

        <div class="caring-for-hair">
          <p><strong>Caring for Reconditioned Hair</strong></p>
        </div>

        <div class="caring-info">

        <p>So you’ve gone to the salon and spent several hours (not to mention several dollars!) on your newly straightened hair. Before you go decide to go for a swim or take shower, keep in mind that moisture on your hair within 48 to 72 hours can have disastrous effects. Keep reading for more tips on caring for your newly straightened hair.</p><br><br>

        <p>Moisture is Your Enemy
        Following the Japanese hair straightening procedure, it is important to provide sufficient attention to your new look so that it stays the way you want it. Although you have left the salon, the neutralizer is still re-bonding the hair and would be disturbed by water as it needs continuous access to oxygen.</p><br><br>

        <p>Washing your hair can be tempting, but avoid this at all costs since the reconditioning process takes quite some time to settle in.  Rain, humidity, or even a steamy shower are your enemies! Even perspiration from working out is a no no. Moisture can make parts of your hair do strange things and ruin all the time effort and money that went into your procedure.</p><br><br>

        <p>If your hair does happen to accidentally get wet during this time, blow it dry with the dryer pointed down towards the ends of your hair. Keep it moving so that all the heat isn’t concentrated on one spot. Then gently iron the wet area at a low temperature (250 to 265 degrees Fahrenheit).</p><br><br>

        <p>Avoid Pressure or Tension
        Japanese Hair Straightening no pony tail
        Don’t do this in the first week!</p><br><br>

        <p>Your new hair needs to remain in as straight and natural position as possible. Don’t put it in a pony tail, wear a hat, or use a clip of any kind for the next 7 days. Even tucking your hair behind your ears can cause a bend.</p><br><br>

        <p>If a crease does appear, take a flat iron and gently iron out the crease. Be sure to keep the iron moving to avoid damage from too much heat.</p><br><br>

        <p>Shampooing & Blow Drying
        To maintain a sleek hair-do, you need specially chosen shampoo and conditioners that work well with soft hair and will not cause excess damage with their chemical content. Avoid blow drying your hair for several days. Even after this phase it is always a good idea to use a thermal protector to shield hair from heat damage caused by hairdryers and flat irons. For even more amazing hair, use oil from time to time, to make hair more shiny and silky.</p><br><br>

        <p>Thermal Reconditioning Touch Ups
        Although thermal reconditioning is a permanent hair straightening technique, your hair will grow out over time. After six to nine months you will likely need a touch up to straighten the new growth. The time frame will depend upon how quickly your hair grows and the strength of its curl.</p><br><br>

        <p>Wait before Coloring
        After the procedure avoid coloring your hair for at least two weeks, as this can increase the tension on your already stressed hair. Your hair strands are delicate and need sufficient time to recover before they are altered once more.</p><br><br>

        <p>Most professionals will conduct a strand test to determine your hair’s porosity and see whether coloring is advisable. If a stylist advises against coloring, take their advice. You’ll always be able to find someone who will take your money regardless of your best interests.  But coloring your hair before it’s ready can lead to months of regret!</p><br><br>
      </div>






<!- Contact -->
<div class="chem-contact1">
  <span class="chem-contact2">
    <a href="/color">Color</a></span><br><br>
    <a href="/rooms">Chat Live</a>
</div>

<!-- <form class="chem-container" action="/action_page.php" target="_blank">
  <div class="chem-section-name">
    <label>Name</label>
    <input class="chem-input" style="width:80%;" type="text" name="Name" required>
  </div>
  <div class="chem-section-email">
    <label>Email</label>
    <input class="chem-input" style="width:80%;" type="text" name="Email" required>
  </div>
  <div class="chem-section-subject">
    <label>Subject</label>
    <input class="chem-input" style="width:80%;" name="Subject" required>
  </div>
  <div class="chem-section-message">
    <label>Message</label>
    <input class="chem-input" style="width:80%;" name="Message" required>
  </div>
  <button type="submit" class="chem-button-send">Send</button>
</form>  -->

<!-- </div> -->

<!-- Footer -->


<footer class="chem-footer">
<h3>Color Me Straight</h3><br>
<h4>An online Education Center</h4><br>
<h5> Built on integrity, innovation, and love—for you and for your hair.</h5><br>
<h5>We believe in a better way and we believe in beautiful naturally healthy-looking chemically treated hair.</h5>
<br><br>
<a href="#" class="chem-top-button"><i class="fa-fa-arrow-up"></i>To the top</a>

</footer>
