<!-- <h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p> -->



  <!-- <%= image_tag('antique.jpg', id: "wrapper") %>
  <%= image_tag('colorimg.jpg', id: "f1") %> -->

  <p id="para-1">Color Me Straight</p>
  <p id="education-center">an online Education Center</p>


  <div id="wrapper">
    <span id="f1">Color Me Straight<p>an online Education Center</p></span>
    <span id="f2"></span>
    <span id="f3"></span>
    <span id="f4"></span>
    <span id="f5"></span>
    <span id="f6"></span>
    <span id="f7"></span>
    <span id="f8"></span>
    <span id="f9"></span>
    <span id="f10"></span>
  </div>

  <div class="ndbcImg">

  </div>



<!-- <div id="nonpara">
<div class="para1">
  We are here to educate and inform you of all the options available to you.
  Login to chat <br><br>
  Our expert chemical specialists are here to answer your haircare questions from start to finish— .
</div>

<div class="para66shallowbx"></div>
 <div id="starwar">
  <div id="starwar-content">
   <div class="para2">
  <p>
  <p id="para22">We are an online Education Center</p> <br><br>
  <p id="para33"> Built on integrity, innovation,
  and love—for you and for your hair.</p><br><br>
  We believe in a better way and we believe in beautiful naturally
  healthy-looking chemically treated hair.<br><br>

  <p id="para44"> Our desire is to educate and help you</p>
  <p id="para55"> Choose the right color or straightener to suit your needs.</p>
  <p id="para66">We will show you step-by-step instructions on how to apply color or FX techniques.</p><br>
  <p id="para77">We want to make sure you have the right tools to be prepared at home or when going in for your salon service.</p><br>
  <p id="para88">We do not recommend straightening your hair at home. This is a long process and can easily damage or break your hair.
  Our expert staff will direct you to the right technician and help you ask all the right questions.</p></p>
 </div>
</div>

</div>

</div> -->
