<!-- <h1>Rooms#show</h1> -->
<!-- <p>Find me in app/views/rooms/show.html.erb</p> -->
<!-- <h1>ActionCable Chat</h1>
<% link_to('Logout', destroy_user_session_path, :method => :delete) %>
<div id="messages">
  <%= render @messages %>
</div> -->

<p id="para-b1">Color Me Straight</p>
<p id="education-center-1">an online Education Center</p>

<!-- links for email layout -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- links  -->



<div class="room-rooms">
  <p id="para-nav-1" >Color Me Straight</p>
</div>


<% content_for :title, 'admin | Action Cable Chat' %>
<div class="header">
  <div class="team-menu">Chat Live</div>

  <div class="channel-menu">
    <span class="channel-menu_name"><span class="channel-menu_prefix"></span> </span>
  </div>
</div>
<div class="main">
  <div class="listings">
    <div class="listings_channels">
      <h2 class="listings_header">Color Me Straight</h2>
      <ul class="channel_list">
        <li class="channel active">
          <a class="channel_name"><span><span class="prefix"></span><br><br>
            Our expert chemical specialists are here to answer your haircare questions from start to finish— .</span></a>
        </li>
      </ul>
    </div>
    <div class="listings_direct-messages">
      <h2 class="listings_header"></h2>
      <ul class="channel_list">
        <li class="channel">
          <a class="channel_name"><span class="unread"</span><span><span class="prefix"> </span></span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="message-history" id="messages">
    <%= render @messages %>
  </div>
</div>
<div class="footer">
  <div class="user-menu">
    <span class="user-menu_profile-pic"></span><span class="user-menu_username"><%= current_user.email %></span>
    <span class="connection_status">online</span>
    <span class="logout"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></span>
  </div>
  <div class="input-box">
    <input type="text" class="input-box_text" id="message_input"/>
  </div>
</div>


<!-- Contact email-->
<!-- <div class="email-contact"
<form class="w3-container" action="/action_page.php" target="_blank">
  <div class="w3-section">
    <label>Name</label>
    <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Name" required>
  </div>
  <div class="w3-section">
    <label>Email</label>
    <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Email" required>
  </div>
  <div class="w3-section">
    <label>Subject</label>
    <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Subject" required>
  </div>
  <div class="w3-section">
    <label>Message</label>
    <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Message" required>
  </div>
  <button type="submit" class="w3-button w3-block w3-dark-grey">Send</button>
</form>

</div> -->
