// Place all the styles related to the chemicals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//logo header on page
#para1 {
  position: absolute;
  padding-left: 445;
  top: 40px;
  text-align: center;
  font-family: 'Antic Slab', serif;
  font-size: 50px;
  z-index: 1;
  border-radius: 9px;
  border: 200em;
  background-color: #9C90A3;
}

#education-center {
  position: absolute;
  padding-left: 530px;
  top: 120px;
  text-align: center;
  font-family: 'Antic Slab', serif;
  font-size: 19px;
  z-index: 1;
}



// creates the grey shaded box where holds the text
.chemVideo {
    border-collapse: separate;
    margin-left: 1em;
    margin-top: 17em;
    // float: left;
    flex-wrap: nowrap;
    padding-left: 0em;
    background-color: #F4F4F4;
    // background-color: #ABABAB;
    padding: 5em;
}

table {
    display: inline-table;
    margin: -1em;
    border: solid 6px;
    border-width: 14px;
    border-spacing: 2px;
    border-color: #7C787A;



}
table th, table td {
    background-color: #7C787A;
}

.chem-header {
  position: absolute;
  top: 300px;
  left: 13.5em;
  font-size: 2.5em;
  width: 15.9em;
}

.chem-header1 {
  position: absolute;
  bottom: 128px;
  left: 22em;
  font-size: 1.3em;
  width: 40em;
}

.chem-header11 {
  position: absolute;
  top: 350px;
  left: 30em;
  font-size: 1.3em;
  width: 17.9em;
}

.hPage1-container {
  margin-top: -1356px;
  margin-left: 5em;
  width: 76em;
  height: 20em
}

// .chem-header2 {
//   position: absolute;
//   bottom: -340px;
//   left: 2em;
//   font-size: 1.3em;
//   width: 59.5em;
// }

.chem-header22 {
  position: absolute;
  top: 1020px;
  left: 13em;
  font-size: 2em;
  width: 17.9em;
}

.chem-header222 {
  position: absolute;
  top: 1066px;
  left: 31em;
  font-size: 1em;
  width: 17.9em;
}

.hPage2-container {
 margin-top: 1em;
 margin-left: 22em;
 width: 40em;
 height: 20em;
 font-size: 1.3em;
}

.hPage3-container {
  margin-top: -4em;
  margin-left: 4.7em;
  width: 30em;
  height: 20em
}

.hPage4-container {
  margin-top: -20em;
  margin-left: 47em;
  float: left;
  width: 30em;
  height: 20em
}

.chem-header55 {
  position: absolute;
  top: 1755px;
  left: 12.7em;
  font-size: 2em;
  width: 17.9em;
}

.chem-header555 {
  position: absolute;
  top: 1857px;
  left: 29em;
  font-size: 1em;
  width: 17.9em;

}

.hPage5-container {
  margin-top: 5em;
  margin-left: 22.4em;
  width: 40em;
  height: 20em;
  font-size: 1.3em;
}

.hPage6-container {
  margin-top: -8em;
  margin-left: 5em;
  width: 75em;
  height: 20em
}

//caring for the hair info

.caring-for-hair{

  padding-top: 10em;
  padding-left: 1em;
  text-align: center;
}

.caring-info {
  padding-top: 1em;
  padding-left: 14em;
  width: 55em;
  height: 100em;
  border-color: #B6B1B9;
  border: solid 2 #B6B1B9;

}

.chemPic1 {
  position: absolute;
  width: 10%;
  height: 20%;
}
// contact info
.chem-contact1 {
  position: absolute;
  padding-bottom: 5em;
  padding-left: 37em;
  top: 240em;

  font-size: 1em;
  text-align: center;
  font-family: 'Vast Shadow', cursive;
  text-decoration:none;
}

.chem-contact2 {
  padding-top: -9em;
  font-size: 1.7em;
  text-align: center;
  font-family: 'Vast Shadow', cursive;
  text-decoration: none;

}

// email info
// .chem-section-name{
//   border-collapse: separate;
//   margin-left: 2em;
//   margin-top: -8em;
//   padding-left: 2em;
//   background-color: #DBD8DE;
//   padding: 1em;
//   width: 57.5em;
// }
//
// .chem-section-name{
//   display: inline-table;
//   border-width: 0;
//   border: solid 6px;
//   border-spacing: 1px;
//   border-color: #DBD8DE;
//   font-size: 1.3em;
// }
//
// .chem-section-email{
//   border-collapse: separate;
//   margin-left: 2em;
//   margin-top: -3em;
//   padding-left: 2em;
//   background-color: #DBD8DE;
//   padding: 1em;
//   width: 57.5em;
// }
//
// .chem-section-email{
//   display: inline-table;
//   border-width: 0;
//   border: solid 6px;
//   border-spacing: 1px;
//   border-color: #DBD8DE;
//   font-size: 1.3em;
// }
//
// .chem-section-subject{
//   border-collapse: separate;
//   margin-left: 2em;
//   margin-top: 1em;
//   padding-left: 2em;
//   background-color: #DBD8DE;
//   padding: 1em;
//   width: 57.5em;
// }
//
// .chem-section-subject{
//   display: inline-table;
//   border-width: 0;
//   border: solid 6px;
//   border-spacing: 1px;
//   border-color: #DBD8DE;
//   font-size: 1.3em;
// }
//
// .chem-section-message{
//   border-collapse: separate;
//   margin-left: 2em;
//   margin-top: 1.2em;
//   padding-left: 2em;
//   background-color: #DBD8DE;
//   padding: 1em;
//   width: 57.5em;
// }
//
// .chem-section-message{
//   display: inline-table;
//   border-width: 0;
//   border: solid 6px;
//   border-spacing: 1px;
//   border-color: #DBD8DE;
//   font-size: 1.3em;
// }
//
// .chem-input {
//   position: absolute;
//   font-size: 1.3em;
//   padding-left: 1em;
//   border-bottom: 6.1em;
//   border-collapse: separate;
//   left: 6em;
// }
//
//
// // footer
//
// .chem-button-send {
//   border-collapse: separate;
//   margin-left: 2.5em;
//   margin-top: 1.5em;
//   padding-left: 3em;
//   background-color: #A69EAE;
//   padding: 1em;
//   font-size: 1em;
//   width: 78.2em;
//
// }

.chem-footer {
  position: absolute;
  top: 180em;
  left: 8em;
  text-align: center;
  font-size: 1.4em;
  background-color: #F5F5F5;
}

.chem-top-button {
    font-family: 'Vast Shadow', cursive;
    text-decoration: none;
  	outline: none;
  	background: #A69EAE;
  	border: 1px solid #A69EAE;
  	padding: .5em 1.5em;
  	font-size: .7em;
  	border-radius: 1.5em;
  	margin-left: .5em;
  	&:hover {
  		border: 1px solid #A69EAE;
  		color: #000000;

  	}
  }
