// Place all the styles related to the color controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// iframe {
//     position: fixed;
//     top: 200px;
//     right: 120px;
//     width: 300px;
//     height: 350px;
//     z-index: 2;
//     -webkit-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
//     -moz-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
//     box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
//   }
//
//   iframe:hover {
//     background-color: #EE82EE;
//     top: 200px;
//     right: 120px;
//     width: 300px;
//     height: 350px;
//   }

  // .navbar {
  //   font-family: 'Vast Shadow', cursive;
  //   position: fixed;
  //   top: 0px;
  //   left: 0px;
  //   width: 100%;
  //   z-index: 11;
  //   padding: 15px;
  //   color: #454545;
  //   border-top: 5px solid #454545;
  //   height: 85px;
  // }
//logo header on page
  #para1 {
    position: absolute;
    padding-left: 445;
    top: 40px;
    text-align: center;
    font-family: 'Antic Slab', serif;
    font-size: 50px;
    z-index: 1;
    border-radius: 9px;
    border: 200em;
    background-color: #9C90A3;
  }

  #education-center {
    position: absolute;
    padding-left: 530px;
    top: 120px;
    text-align: center;
    font-family: 'Antic Slab', serif;
    font-size: 19px;
    z-index: 1;
  }

  h3,h4 {
    font-family:"Lato", sans-serif
  }

  .mySlides {
    display:none
  }

  .w3-tag, .fa {
    cursor:pointer
  }

  .w3-tag {
    height:15px;
    width:15px;
    padding:0;
    margin-top:100px
  }

  .w3-top, .w3-row, .w3-col {

    font-size: 1em;
    color: lightgrey;
    margin-top: 30px
  }
  #plans {
    margin-top: 180px
  }

  .w3-card-4 {
    width: 410px;
    height: 1600px;

  }
